Diplom SCADA.json
[{"id":"deb6956310c4c23f","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"9089704dc75bcbab","type":"group","z":"deb6956310c4c23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1c5725c26c315cc2","9c393e526ecfbaf9","d07033349711180e","c6d8737a9ff84fd0"],"x":154,"y":219,"w":472,"h":142},{"id":"8fe5ea8affe75c45","type":"group","z":"deb6956310c4c23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bf4f96b34b456b96","de804b62506a8dae","8b96865281fe46ac","2586d1a77adbe9b2","07a2a139433bba87","4c45a8cd0699cd9f","b875827a3189ddbb","c2d2c49cb550c4c6","b13d9d1f8be03547","d4b4ac06dfd6fb4b","ad94bac1a57c0477","7127e0468c5510a4"],"x":154,"y":379,"w":652,"h":542},{"id":"40792cb59553e552","type":"group","z":"deb6956310c4c23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95f8f604c94bd786","d0d90e6271c023c4","7ac29e39a156cfe8","55d63af50bbda99a","3825eaee7fa53ffd","1d03b86e40cd5b0e","ccf2f67c8293dcc9"],"x":1014,"y":819,"w":632,"h":322},{"id":"4ed140cb0c534ff1","type":"group","z":"deb6956310c4c23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fa989f0d8d6bf461","12b8d5ef0bf7ac98","e790f358f21beaeb","774b25836bcf4fdc"],"x":294,"y":939,"w":392,"h":182},{"id":"1a768bbd1c5c9690","type":"group","z":"deb6956310c4c23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab339d24e78adfc2","931324fc7dbc5399","7e6e558d1a7b94ab","31d4ec1dc958bc62","d90f613772132b8b","8de3092cef01cb37","f32f095840bcf972","892a8265ae51ab97","6cbbcdb4eb2867ba","55179a8115880956","26dc605951101f09","eb25d3d7e96edabc","d2be6fb819ac4fc8","031c217bd571638b","0b8ddbb063059e0a","6f0dde410dd611aa","337efa799c2403a3","d4862e08c58f1d0b","32125fca395a7782"],"x":1014,"y":119,"w":632,"h":662},{"id":"cc272480cd2c2de6","type":"ui_template","z":"deb6956310c4c23f","group":"d783cb980c3979fc","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":380,"y":160,"wires":[[]]},{"id":"1c5725c26c315cc2","type":"s7 out","z":"deb6956310c4c23f","g":"9089704dc75bcbab","endpoint":"9cd86953ca0e04a2","variable":"AUTO","name":"","x":550,"y":260,"wires":[]},{"id":"9c393e526ecfbaf9","type":"ui_led","z":"deb6956310c4c23f","g":"9089704dc75bcbab","order":3,"group":"4ae3f9df36f10f0a","width":10,"height":5,"label":"АВТОМАТ ГОРИМ ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#cdcdd0","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":550,"y":320,"wires":[]},{"id":"d07033349711180e","type":"ui_button","z":"deb6956310c4c23f","g":"9089704dc75bcbab","name":"","group":"4ae3f9df36f10f0a","order":1,"width":5,"height":5,"passthru":false,"label":"АСААХ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":240,"y":260,"wires":[["9c393e526ecfbaf9","1c5725c26c315cc2"]]},{"id":"c6d8737a9ff84fd0","type":"ui_button","z":"deb6956310c4c23f","g":"9089704dc75bcbab","name":"","group":"4ae3f9df36f10f0a","order":2,"width":5,"height":5,"passthru":false,"label":"УНТРААХ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":320,"wires":[["9c393e526ecfbaf9","1c5725c26c315cc2"]]},{"id":"bf4f96b34b456b96","type":"ui_slider","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","label":"РОБОТЫН ХУРД","tooltip":"","group":"cd8f6a1537857df2","order":1,"width":12,"height":2,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"5","className":"","x":270,"y":480,"wires":[["de804b62506a8dae","8b96865281fe46ac","2586d1a77adbe9b2"]]},{"id":"de804b62506a8dae","type":"ui_gauge","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":2,"width":12,"height":7,"gtype":"gage","title":"ХУРД","label":"Хувь","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":470,"y":480,"wires":[]},{"id":"8b96865281fe46ac","type":"debug","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":420,"wires":[]},{"id":"2586d1a77adbe9b2","type":"s7 out","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","endpoint":"","variable":"","name":"","x":470,"y":540,"wires":[]},{"id":"07a2a139433bba87","type":"ui_button","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":16,"width":4,"height":4,"passthru":false,"label":"Ухрах","tooltip":"reverse","color":"","bgcolor":"","className":"","icon":"","payload":"reverse","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":700,"wires":[["d4b4ac06dfd6fb4b"]]},{"id":"4c45a8cd0699cd9f","type":"ui_button","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":4,"width":4,"height":4,"passthru":false,"label":"Урагшаа","tooltip":"forward","color":"","bgcolor":"","className":"","icon":"","payload":"forward","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":640,"wires":[["d4b4ac06dfd6fb4b"]]},{"id":"b875827a3189ddbb","type":"ui_button","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":12,"width":4,"height":4,"passthru":false,"label":"Зүүн","tooltip":"left","color":"","bgcolor":"","className":"","icon":"","payload":"left","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":760,"wires":[["d4b4ac06dfd6fb4b"]]},{"id":"c2d2c49cb550c4c6","type":"ui_button","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":14,"width":4,"height":4,"passthru":false,"label":"Баруун","tooltip":"right","color":"","bgcolor":"","className":"","icon":"","payload":"right","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":820,"wires":[["d4b4ac06dfd6fb4b"]]},{"id":"b13d9d1f8be03547","type":"ui_button","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"","group":"cd8f6a1537857df2","order":13,"width":4,"height":4,"passthru":false,"label":"Зогсох","tooltip":"stop","color":"","bgcolor":"","className":"","icon":"stop","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":880,"wires":[["d4b4ac06dfd6fb4b"]]},{"id":"d4b4ac06dfd6fb4b","type":"function","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","name":"ГАР КОНТРОЛ","func":"var input=msg.payload\nvar output={payload: ' ', topic: \"topic\"};\n\nif(input==\"forward\"){\n    output.payload='run';\n} else if (input==\"reverse\"){\n    output.payload='back';\n} else if (input==\"stop\"){\n    output.payload='stop';\n} else if(input==\"left\"){\n    output.payload='left';\n} else if (input==\"right\"){\n    output.payload='right';\n} \n\nreturn [output];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":660,"wires":[["ad94bac1a57c0477","7127e0468c5510a4"]]},{"id":"ad94bac1a57c0477","type":"s7 out","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","endpoint":"","variable":"","name":"","x":730,"y":660,"wires":[]},{"id":"7127e0468c5510a4","type":"s7 out","z":"deb6956310c4c23f","g":"8fe5ea8affe75c45","endpoint":"","variable":"","name":"","x":730,"y":700,"wires":[]},{"id":"95f8f604c94bd786","type":"function","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"ГАР БУДАЛТ ","func":"var input=msg.payload\nvar output={payload: ' ', topic: \"topic\"};\n\nif(input==\"forward\"){\n    output.payload='run';\n} else if (input==\"reverse\"){\n    output.payload='back';\n} else if (input==\"stop\"){\n    output.payload='stop';\n} else if(input==\"left\"){\n    output.payload='left';\n} else if (input==\"right\"){\n    output.payload='right';\n} \n\nreturn [output];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":880,"wires":[["ccf2f67c8293dcc9"]]},{"id":"d0d90e6271c023c4","type":"ui_button","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"","group":"e2ac57d005f64276","order":2,"width":4,"height":4,"passthru":false,"label":"Урагшаа","tooltip":"forward","color":"","bgcolor":"","className":"","icon":"","payload":"forward","payloadType":"str","topic":"topic","topicType":"msg","x":1100,"y":860,"wires":[["95f8f604c94bd786"]]},{"id":"7ac29e39a156cfe8","type":"ui_button","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"","group":"e2ac57d005f64276","order":14,"width":4,"height":4,"passthru":false,"label":"Ухрах","tooltip":"reverse","color":"","bgcolor":"","className":"","icon":"","payload":"reverse","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":920,"wires":[["95f8f604c94bd786"]]},{"id":"55d63af50bbda99a","type":"ui_button","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"","group":"e2ac57d005f64276","order":10,"width":4,"height":4,"passthru":false,"label":"Зүүн","tooltip":"left","color":"","bgcolor":"","className":"","icon":"","payload":"left","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":980,"wires":[["95f8f604c94bd786"]]},{"id":"3825eaee7fa53ffd","type":"ui_button","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"","group":"e2ac57d005f64276","order":12,"width":4,"height":4,"passthru":false,"label":"Баруун","tooltip":"right","color":"","bgcolor":"","className":"","icon":"","payload":"right","payloadType":"str","topic":"topic","topicType":"msg","x":1100,"y":1040,"wires":[["95f8f604c94bd786"]]},{"id":"1d03b86e40cd5b0e","type":"ui_button","z":"deb6956310c4c23f","g":"40792cb59553e552","name":"","group":"e2ac57d005f64276","order":11,"width":4,"height":4,"passthru":false,"label":"Зогсох","tooltip":"stop","color":"","bgcolor":"","className":"","icon":"stop","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":1100,"wires":[["95f8f604c94bd786"]]},{"id":"ccf2f67c8293dcc9","type":"s7 out","z":"deb6956310c4c23f","g":"40792cb59553e552","endpoint":"","variable":"","name":"","x":1570,"y":880,"wires":[]},{"id":"fa989f0d8d6bf461","type":"ui_switch","z":"deb6956310c4c23f","g":"4ed140cb0c534ff1","name":"","label":"ШҮРШИХ","tooltip":"","group":"fc7894f71488ba03","order":1,"width":12,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":380,"y":980,"wires":[["e790f358f21beaeb","774b25836bcf4fdc"]]},{"id":"12b8d5ef0bf7ac98","type":"ui_button","z":"deb6956310c4c23f","g":"4ed140cb0c534ff1","name":"","group":"fc7894f71488ba03","order":2,"width":12,"height":2,"passthru":false,"label":"ШҮРШИХ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":380,"y":1040,"wires":[["e790f358f21beaeb","774b25836bcf4fdc"]]},{"id":"e790f358f21beaeb","type":"s7 out","z":"deb6956310c4c23f","g":"4ed140cb0c534ff1","endpoint":"","variable":"","name":"","x":610,"y":1020,"wires":[]},{"id":"774b25836bcf4fdc","type":"ui_led","z":"deb6956310c4c23f","g":"4ed140cb0c534ff1","order":3,"group":"fc7894f71488ba03","width":12,"height":2,"label":"Шүрших төлөв","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#cdcdd0","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":610,"y":1080,"wires":[]},{"id":"ab339d24e78adfc2","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1140,"y":160,"wires":[["7e6e558d1a7b94ab"]]},{"id":"931324fc7dbc5399","type":"image","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":1520,"y":260,"wires":[]},{"id":"7e6e558d1a7b94ab","type":"usbcamera","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"4","name":"","x":1330,"y":260,"wires":[["931324fc7dbc5399"]]},{"id":"31d4ec1dc958bc62","type":"s7 in","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":1090,"y":380,"wires":[["8de3092cef01cb37"]]},{"id":"d90f613772132b8b","type":"s7 in","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":1090,"y":440,"wires":[["f32f095840bcf972"]]},{"id":"8de3092cef01cb37","type":"ui_text","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","group":"b70ad1cd74b6cf27","order":1,"width":9,"height":2,"name":"","label":"Урд Хананы Зай","format":"{{msg.payload}} см","layout":"row-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"18","color":"#000000","x":1370,"y":380,"wires":[]},{"id":"f32f095840bcf972","type":"ui_text","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","group":"b70ad1cd74b6cf27","order":2,"width":9,"height":2,"name":"","label":"Зүүн Хананы Зай","format":"{{msg.payload}} см","layout":"row-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"18","color":"#000000","x":1370,"y":440,"wires":[]},{"id":"892a8265ae51ab97","type":"s7 in","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":1090,"y":520,"wires":[["26dc605951101f09"]]},{"id":"6cbbcdb4eb2867ba","type":"s7 in","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":1090,"y":600,"wires":[["55179a8115880956"]]},{"id":"55179a8115880956","type":"ui_gauge","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","group":"9c91d6872a52a5e7","order":1,"width":9,"height":6,"gtype":"gage","title":"Батарей Цэнэг ","label":"Цэнэг","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","diff":false,"className":"","x":1360,"y":600,"wires":[]},{"id":"26dc605951101f09","type":"ui_gauge","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","group":"e0df31f73884225c","order":1,"width":9,"height":6,"gtype":"gage","title":"Будгийн Түвшин","label":"Түвшин","format":"{{value}} л","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"2.5","seg2":"7.5","diff":false,"className":"","x":1370,"y":520,"wires":[]},{"id":"eb25d3d7e96edabc","type":"ui_text","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","group":"c3642914e9879a1e","order":1,"width":6,"height":3,"name":"","label":"Роботын ажиллагаа","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1400,"y":680,"wires":[]},{"id":"d2be6fb819ac4fc8","type":"s7 in","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":1090,"y":680,"wires":[["031c217bd571638b"]]},{"id":"031c217bd571638b","type":"ui_led","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","order":2,"group":"c3642914e9879a1e","width":3,"height":3,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":false,"name":"","x":1350,"y":740,"wires":[]},{"id":"b63709e454270cd6","type":"ui_chart","z":"deb6956310c4c23f","name":"","group":"2d8ccaa6b51895c1","order":1,"width":10,"height":10,"label":"ТОГТВОРЖИЛТ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":2400,"wires":[[]]},{"id":"256f9c6a6a982156","type":"s7 in","z":"deb6956310c4c23f","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":310,"y":2400,"wires":[["b63709e454270cd6"]]},{"id":"0b8ddbb063059e0a","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1230,"y":640,"wires":[["eb25d3d7e96edabc","031c217bd571638b"]]},{"id":"6f0dde410dd611aa","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"50","payload":"70","payloadType":"num","x":1210,"y":560,"wires":[["55179a8115880956"]]},{"id":"337efa799c2403a3","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"50","payload":"5.5","payloadType":"num","x":1190,"y":480,"wires":[["26dc605951101f09"]]},{"id":"d4862e08c58f1d0b","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"50","payload":"100","payloadType":"num","x":1210,"y":400,"wires":[["f32f095840bcf972"]]},{"id":"32125fca395a7782","type":"inject","z":"deb6956310c4c23f","g":"1a768bbd1c5c9690","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"50","payload":"60","payloadType":"num","x":1110,"y":320,"wires":[["8de3092cef01cb37"]]},{"id":"14daea3fdcca6dc0","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":3,"width":4,"height":1},{"id":"d93f41e696f5a6bc","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":5,"width":4,"height":1},{"id":"b8820262aaa85ad4","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":6,"width":4,"height":1},{"id":"9df71a601fc50e25","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":7,"width":4,"height":1},{"id":"3c5bd64cf8b5a193","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":8,"width":4,"height":1},{"id":"88ecc72006ca3a84","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":9,"width":4,"height":1},{"id":"d4595ef90890e7f6","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":10,"width":4,"height":1},{"id":"6cb606885f02fc45","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":11,"width":4,"height":1},{"id":"b1a9d25225d628c4","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":15,"width":4,"height":1},{"id":"156c82867a6fa516","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":17,"width":4,"height":1},{"id":"ed0da63c8f431860","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":18,"width":4,"height":1},{"id":"7bf72b5903d36b53","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":19,"width":4,"height":1},{"id":"6e8e640d17b1eefa","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":20,"width":4,"height":1},{"id":"537092c307d89a3d","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":21,"width":4,"height":1},{"id":"11a6af490259360b","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":22,"width":4,"height":1},{"id":"f388a18c8e8dd7d5","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"cd8f6a1537857df2","order":23,"width":4,"height":1},{"id":"8c7a19c40a7d7eaa","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":1,"width":4,"height":1},{"id":"0cc8c5269dda4e9b","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":3,"width":4,"height":1},{"id":"60536b7da63f1e4b","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":4,"width":4,"height":1},{"id":"2c0a5284198ffd2b","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":5,"width":4,"height":1},{"id":"710d3ebb42659589","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":6,"width":4,"height":1},{"id":"8be6133b441f1890","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":7,"width":4,"height":1},{"id":"9517ac47f847b77e","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":8,"width":4,"height":1},{"id":"013a91b379359e67","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":9,"width":4,"height":1},{"id":"7474239723379544","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":13,"width":4,"height":1},{"id":"f37a7cd710f1fd05","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":15,"width":4,"height":1},{"id":"f715d6f25d7d103c","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":16,"width":4,"height":1},{"id":"f7b73e8384b4b704","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":17,"width":4,"height":1},{"id":"180d3ee60ba0520b","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":18,"width":4,"height":1},{"id":"f319018ced1d3bc9","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":19,"width":4,"height":1},{"id":"7ed2320bc54f895c","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":20,"width":4,"height":1},{"id":"54f48503f993f796","type":"ui_spacer","z":"deb6956310c4c23f","name":"spacer","group":"e2ac57d005f64276","order":21,"width":4,"height":1},{"id":"d783cb980c3979fc","type":"ui_group","name":"Demo","tab":"0449b3b1fea99d52","order":1,"disp":true,"width":"6","collapse":false},{"id":"9cd86953ca0e04a2","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.222","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB1,REAL0","name":"ACTUAL_TANK_LEVEL"},{"addr":"MW8","name":"TO CONTROL FILLING VALVE"},{"addr":"QW30","name":"OPEN ACTUATOR"},{"addr":"IW32","name":"LEVEL_TANK"},{"addr":"M10.0","name":"ENABLE PID"},{"addr":"M11.1","name":"HMI Living room"},{"addr":"M11.2","name":"HMI Bedroom"},{"addr":"M11.3","name":"HMI Kitchen"},{"addr":"M11.4","name":"HMI Toilet"},{"addr":"MW4","name":"SETPOINT"},{"addr":"DB1,REAL4","name":"Output"},{"addr":"DB1,REAL8","name":"Kp"},{"addr":"DB1,REAL12","name":"Ki"},{"addr":"DB1,REAL16","name":"Kd"},{"addr":"DB1,REAL20","name":"AUTO"}]},{"id":"4ae3f9df36f10f0a","type":"ui_group","name":"АВТОМАТ ГОРИМ ","tab":"cdf4a99baf8a5583","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"cd8f6a1537857df2","type":"ui_group","name":"РОБОТЫН ЯВАЛТ","tab":"94b3888d9ec10585","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"e2ac57d005f64276","type":"ui_group","name":"БУДАЛТЫН  ХӨДӨЛГӨӨН","tab":"94b3888d9ec10585","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"fc7894f71488ba03","type":"ui_group","name":"ШҮРШИХ","tab":"94b3888d9ec10585","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"b70ad1cd74b6cf27","type":"ui_group","name":"ХАНАНЫ ЗАЙ ХЭМЖИЛТ","tab":"c3e2cb987304b07d","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"9c91d6872a52a5e7","type":"ui_group","name":"БАТАРЕЙ ЦЭНЭГ","tab":"c3e2cb987304b07d","order":4,"disp":true,"width":9,"collapse":false,"className":""},{"id":"e0df31f73884225c","type":"ui_group","name":"БУДГИЙН ТҮВШИН","tab":"c3e2cb987304b07d","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"c3642914e9879a1e","type":"ui_group","name":"РОБОТЫН МЭДЭЭЛЭЛ","tab":"c3e2cb987304b07d","order":5,"disp":true,"width":9,"collapse":false,"className":""},{"id":"2d8ccaa6b51895c1","type":"ui_group","name":"АВТОМАТ ХЯНАЛТ","tab":"cdf4a99baf8a5583","order":2,"disp":true,"width":10,"collapse":false,"className":""},{"id":"0449b3b1fea99d52","type":"ui_tab","name":"Demo","icon":"dashboard","disabled":false,"hidden":false},{"id":"cdf4a99baf8a5583","type":"ui_tab","name":"АВТОМАТ ГОРИМ","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"94b3888d9ec10585","type":"ui_tab","name":"ГАР УДИРДЛАГАТ ГОРИМ","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c3e2cb987304b07d","type":"ui_tab","name":"ХАНА БУДАГЧ РОБОТ ХЯНАХ ДЭЛГЭЦ","icon":"dashboard","order":5,"disabled":false,"hidden":false}]